<ion-view view-title="Listado de órdenes">
  <ion-content>

    <div class="list">

      <div class="item padding-2">
        <div class="row">
          <button class="col button button-small button-stable margin-right-2-percent" ng-click="ordersCtrl.openDatePicker(true)">
            <span ng-if="ordersCtrl.data.filters.from">
              {{ ordersCtrl.data.filters.from | amDateFormat: 'DD/MM/YYYY'}}
            </span>
            <span ng-hide="ordersCtrl.data.filters.from">
              Fecha desde
            </span>
            <i class="icon ion-arrow-down-b"></i>
          </button>
          <button class="col button button-small button-stable margin-right-2-percent" ng-click="ordersCtrl.openDatePicker(false)">
            <span ng-if="ordersCtrl.data.filters.to">
              {{ ordersCtrl.data.filters.to | amDateFormat: 'DD/MM/YYYY' }}
            </span>
            <span ng-hide="ordersCtrl.data.filters.to">
              Fecha hasta
            </span>
            <i class="icon ion-arrow-down-b"></i>
          </button>
          <button class="col button button-small button-balanced" ng-click="ordersCtrl.filterOrders()">
            Filtrar
          </button>
        </div>
      </div>

      <a href="" class="item padding-2" ng-repeat="order in ordersCtrl.ordersService.orders" ng-click="ordersCtrl.editOrder(order)">
        <div class="row" style="padding:0">
          <div class="col col-20">
            <span class="mobile margin-top-3">M{{ order.movilId }}</span>
            <span class="badge custom-badge badge-assertive margin-top-5 margin-left-5" ng-if="order.incomplete">Incompleta</span>
          </div>
          <div class="col col-80 font-size-12">
            <div class="row">
              <span class="bold">{{ order.cantidad }}</span> <span class="padding-left-5">reports, del {{ order.fecDesde | amDateFormat: 'DD/MM/YYYY' }} al {{ order.fecHasta | amDateFormat: 'DD/MM/YYYY' }} </span>
            </div>
            <div class="row">
              Fecha de generación: <span class="bold padding-left-5">{{ order.fecRecepcion | amDateFormat: 'DD/MM/YYYY' }}</span>
            </div>
            <div class="row">
              Base Operativa: <span class="bold margin-left-5 margin-right-5">{{ order.baseCodigo }}</span> -
               <span class="margin-right-5 margin-left-5">Sobre <b>{{order.envelopeNumber}}</b></span>

            </div>
          </div>
        </div>
      </a>

    </div>

  </ion-content>
</ion-view>
