<ion-view view-title="Ajustes">
  <ion-content>

    <div class="list">
      <div class="item item-divider">
        Generación de URL
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="settingsCtrl.data.license" placeholder="Ingrese nro. de licencia">
        </label>
        <button class="button button-small" ng-click="settingsCtrl.generateUrl()">
          Generar URL
        </button>
      </div>
      <a class="item" href="">
        URL
        <span class="item-note" ng-if="settingsCtrl.settingsService.getUrl()">
          {{ settingsCtrl.settingsService.getUrl() }}
        </span>

        <span class="item-note color-assertive bold" ng-hide="settingsCtrl.settingsService.getUrl()">
          {{ settingsCtrl.data.messages.noUrl }}
        </span>
      </a>
      <div class="item item-divider">
        Usuario
      </div>
      <div class="item item-button-right">
        {{ settingsCtrl.data.user}}
        <button class="button button-assertive" ng-click="settingsCtrl.logout()">
          <i class="icon ion-log-out"></i>
        </button>
      </div>
        <div class="item item-divider">
          Bases operativas
        </div>
        <div class="item item-button-right">
          Actualizar
          <button class="button button-balanced" ng-click="settingsCtrl.updateOperationalBases()">
            <i class="icon ion-refresh"></i>
          </button>
      </div>
    </div>

  </ion-content>
</ion-view>
